.pealkiri {
	color: black;
	font-size: 80px;
	font-family: "Brush Script MT";
	text-align: Center;
	padding-right: 62px;
	margin: 0px;
}

.menüü {
	color: black;
	font-size: 60px;
	font-family: "Brush Script MT";
	text-align: Center;
	padding: 0px;
	margin: 0px;
}
.nupp {
	font-size:45px;
	padding-top:30px;
	padding-bottom:20px;
}

.essa {
	margin-top:0px;
}
body {
	background-image: url(Pildid/background.png);
	background-size: cover;
	font-family: "Bodoni MT";
	color: black;
	font-size: 20px;
	text-align: left;
	margin-top: 25px;
}
img {
	border-radius: 25px;
}

#nav {
  opacity: 1;
  cursor: pointer;
}