.pealkiri {
	color: black;
	font-size: 75px;
	font-family: "Brush Script MT";
	text-align: Center;
	padding: 0px;
	margin: 0px;
}
body {
	background-image: url(Pildid/background.png);
	background-size: cover;
	font-family: "Bodoni MT";
	color: black;
	font-size: 20px;
	text-align: left;
	margin-top: 25px
}
img {
	border-radius: 25px;
}